.books-container {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-auto-columns: 20vw;
  grid-auto-rows: auto;
  gap: 5vw;
}

.book {
  width: 20vw;
  height: auto;
  background-color: lightblue;
  text-align: center;
}
